
#header {
    background: url(beans-header.jpg);
    height: auto;
    width: auto;
    padding: 100px 100px;
    color: white;
    text-align: center;
    border: white solid;
    -webkit-text-stroke: black; 
    -webkit-text-stroke-width: 1px;
    font-size: 25px;
    font-family: fantasy 
}
p {
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 0;
    color:white;
}
#header-image{
    display: block;
    text-align: center;
    width: 150px;
    margin: 0px auto;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-family: cursive;
    text-decoration: none;
    border-radius: 10px;
   


}
  
    #nav {
        width:870px;
        margin:20px 0 0;
        padding: 10px 0;
        margin-left: 21%;
        list-style:none;
        background-color: black;
        overflow: auto;
        border: white solid;
        }
        #nav li {
        float:left;
        }
        #nav a {
        display:block;
        text-align:center;
        width:25%; 
        padding: 10px 10px;
        margin-right: 10px;
        margin-left: 35px;
        text-decoration:none; 
        color: white;
        border:20% white solid;
        }
        #content{
            left: -120px;
        }
        h2{
            font-size: xx-large;
            color: black;
            margin-left: -1250px;
            background-color: white;
        }
        h3{
            background-color:black;
            margin-left: -1300px;
            font-size: large;
        }
        #italy-list{
            margin-left: -1300px; 
        }
        h4{
            margin-left: -1300px; 
            background-color: black;
            font-size: large; 
        }
        #spain-list{
            margin-left: -1300px; 
        }
        h5{
            margin-left: -1300px; 
            background-color: black;
            font-size: large;  
        }
        #germany-list{
            margin-left: -1300px; 
        }
        h6{
            font-size: xx-large;
            color: black;
            margin-left: -1250px;
            background-color: white;  
        }
        #image-placement{
            background-color: lightgrey;
            width: 300px;
            height: 1000px;
            border: 15px solid black;
            padding: 50px;
            margin: 20px;
            margin-left: 300px;
            margin-top: -900px;
            color: black;
        }
        #down{
            margin-top: 200px;
        }
     