
#header {
    background: url(beans-header.jpg);
    height: auto;
    width: auto;
    padding: 100px 100px;
    color: white;
    text-align: center;
    border: white solid;
    -webkit-text-stroke: black; 
    -webkit-text-stroke-width: 1px;
    font-size: 25px;
    font-family: fantasy 
}
p {
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 0;
    color:white;
    font-family: 'Courier New', Courier, monospace; 
}
#header-image{
    display: block;
    text-align: center;
    width: 150px;
    margin: 0px auto;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-family: cursive;
    text-decoration: none;
    border-radius: 10px;
   


}
  
    #nav {
        width:870px;
        margin:20px 0 0;
        padding: 10px 0;
        margin-left: 21%;
        list-style:none;
        background-color: black;
        overflow: auto;
        border: white solid;
        }
        #nav li {
        float:left;
        }
        #nav a {
        display:block;
        text-align:center;
        width:25%; 
        padding: 10px 10px;
        margin-right: 10px;
        margin-left: 35px;
        text-decoration:none; 
        color: white;
        border:20% white solid;
        }
        #content{
            left: -120px;
        }
        h2{
            font-size: xx-large;
            color: black;
            margin-left: -1100px;
            background-color: white;
            font-family: 'Courier New', Courier, monospace; 
        }
        h3{
            background-color:black;
            margin-left: -1200px;
            font-size: large;
            font-family: 'Courier New', Courier, monospace; 
        }
        #italy-list{
            margin-left: -1300px; 
            font-family: 'Courier New', Courier, monospace; 
        }
        h4{
            margin-left: -1200px; 
            background-color: black;
            font-size: large; 
            font-family: 'Courier New', Courier, monospace; 
        }
        #cuba-list{
            margin-left: -1300px; 
            font-family: 'Courier New', Courier, monospace; 
        }
        h5{
            margin-left: -1200px; 
            background-color: black;
            font-size: large; 
            font-family: 'Courier New', Courier, monospace;  
        }
        #iceland-list{
            margin-left: -1300px; 
            font-family: 'Courier New', Courier, monospace; 
        }
        h6{
            font-size: xx-large;
            color: black;
            margin-left: -1200px;
            background-color: white; 
            font-family: 'Courier New', Courier, monospace;  
        }
    #washington-list{
        margin-left: -1300px; 
        font-family: 'Courier New', Courier, monospace; 
    }
    #austria-list{
        margin-left: -1300px; 
        font-family: 'Courier New', Courier, monospace; 
    }
    #australia-list{
        margin-left: -1300px; 
        background-color: black;
        font-family: 'Courier New', Courier, monospace; 
    }
    #turkey-list{
        margin-left: -1300px;
        font-family: 'Courier New', Courier, monospace;  
    }
    #ethiopia-list{
        margin-left: -1300px;
        font-family: 'Courier New', Courier, monospace;  
    }
    #taiwan-list{
        margin-left: -1100px;
        font-family: 'Courier New', Courier, monospace;  
    }
    #image-placement{
        background-color: rgb(163, 121, 91);
        width: 100px;
        height: 400px;
       margin-bottom: 500px;
        padding: 50px;
        margin: 20px;
        margin-left: 50px;
        margin-top: -1150px;
       
    }
    #down{
        margin-top: 700px;
    }
     