
#header {
    background: url(coffee-header.jpg);
    height: auto;
    width: auto;
    padding: 100px 100px;
    color: white;
    text-align: center;
    border: white solid;
    -webkit-text-stroke: black; 
    -webkit-text-stroke-width: 1px;
    font-size: 25px;
    font-family: fantasy 
}
p {
    -webkit-text-stroke: black;
    -webkit-text-stroke-width: 0;
    color:white;
}
#header-image{
    display: block;
    text-align: center;
    width: 150px;
    margin: 0px auto;
    padding: 20px;
    color: white;
    text-transform: uppercase;
    font-family: cursive;
    text-decoration: none;
    border-radius: 10px;
   


}
  
    #nav {
        width:870px;
        margin:35px 0 0;
        padding: 10px 0;
        margin-left: 21%;
        list-style:none;
        background-color: black;
        overflow: auto;
        border: white solid;
        }
        #nav li {
        float:left;
        }
        #nav a {
        display:block;
        text-align:center;
        width:25%; 
        padding: 10px 10px;
        margin-right: 10px;
        margin-left: 35px;
        text-decoration:none; 
        color: white;
        border:20% white solid;
        }
   .row{
    
    display: block;
    margin: auto;
   
   }
   .center{
       display: block;
    float: left;
    width: 33.33%;
    padding: 30px;
    margin:auto;
    left:-120px;
    
   }
   #right{
       
       position: relative;
       bottom:-60px;
       left: -150px;
   }
   img{
       border: 5px solid black;
   }
   
   